.button{
    -fx-padding: 3 6 6 6;
    transition-duration: 0.4s;
    color: white;
    
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #c3d83a 0%, #96d83a 100%),
        #9bd83a,
        #9bd83a,
        radial-gradient(center 50% 50%, radius 100%, #4ad83a, #9bd83a);
}