.button{
    -fx-padding: 3 6 6 6;
    transition-duration: 0.4s;
    
    -fx-background-color: #ff653b;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #f70505 0%, #f70505 100%),
        #f7aa05,
        #f7aa05,
        radial-gradient(center 50% 50%, radius 100%, #f75205, #f72105);
}